:root {
    --branco-principal: #ffffff;   
    --cinza-secundaria: #c0c0c0;
    --botão-azul: #167bf7;
    --cor-de-fundo: #00030c;
}
 body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
 }

 * {
    margin: 0;
    padding: 0;
 }

 .principal {



 }

 .container{
   height: 100vh;
 }
  .container__botão{
   background-color: var(--botão-azul);
   border-radius: 5px;
   padding: 1em;
   color: var(--branco-principal);
   display: block;
  }